NEXT_PUBLIC_BACKEND_URL="http://localhost:4000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_OPENAPI_SPEC_URL="http://localhost:3000/api-spec.json"


NEXT_PUBLIC_SENTRY_DSN="https://examplePublicKey@o0.ingest.sentry.io/0"
SENTRY_ORG="your-sentry-org"
SENTRY_PROJECT="openframe"
SENTRY_AUTH_TOKEN="sntrys_your_auth_token_here"